.dropdown-menu {
    background: red;
    width: 200px;
    position: absolute;
    top: 80px;
    list-style: none;
    z-index: 2;
    text-align: start;
  }
  .dropdown-menu li {
    background: rgb(255, 255, 255);

    cursor: pointer;
  }
  .dropdown-menu li:hover {
    background: #b3b3b3;
  }
  
  .dropdown-menu.clicked {
    display: none;
  }
  
  .dropdown-link {
    display: block;
    height: 100%;
    width: 100%;
    padding: 16px;
    color:black !important;
  }
