.banner{
    background-image: url('./Img/img1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 760px;
    width: 100%;
    margin-bottom: 20px;
}
.banner_children{
    background-color: #5dc518;
    width: 180px;
    text-align: center;
    padding:3px 6px;
    font-size: 12px;
}
.banner_upBunner{
    display: flex;
    gap:10px;
    margin-top:50%;
    margin-bottom: 20px;
    margin-left:50px;
}
.banner_box{
    width: 1650px;
    margin:0 auto;
    margin-top:200px;
    justify-content: space-between;
    position: relative;
}
.banner_block{
    width: 410px;
    position: absolute;
    right: 0;
}
.banner_title{
    color: black !important;
    font-size: 36px;
    line-height: 44px;
    font-weight: 500;
    color: #262626;
    text-transform: uppercase;
    margin-top:20px;
    margin-bottom: 20px;
    text-align: right;
}
.banner_text{
    font-size: 18px;
    line-height: 24px;
    font-weight: 300;
    color: black !important;
    margin-bottom:30px;
    text-align: right;
}
.banner_line{
    border:none;
    background-color: #000; /* Цвет линии */
    height: 2px;
    width: 300px;
}
.banner_button{
    margin-top:50px;
    background-color: black;
    padding:8px 16px;
    width: 200px;
    text-align: center;
    position:absolute;
    right: 0;
}
